.movie-view {
  color: #3B3B3E;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .movie-info {
    text-align: center;

    span {
      font-weight: bold;
      color: #050505;
    }

    h5 {
      font-size: 22px;
      margin-bottom: 10px;
      margin: 0 auto;
    }


    display: flex;
    flex-direction: column; // Stack items vertically
    gap: 8px; // Adjust space between items as needed
    margin: 0 auto;
  }

  img {
    margin-top: 20px;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    display: block;
    margin: 0 auto;
    width: 100%;
  }


  .movie-info {
    width: 80%;
    max-width: 600px;

    h5,
    span {
      font-weight: bold;
    }

    div {
      margin-bottom: 10px;
    }

    .click {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}

.back-button,
.button-space {
  background: #666043;
  color: #222;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background: #e0c003;
  }
}

// Optional: if you want to add space to both buttons
.button-space:last-child {
  margin-right: 0; // Remove margin for the last button
}