$primary: SeaGreen;
$body-bg: black;
$color: steelblue;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

.my-flix {
    color: $color;
};

.navbar-custom {
    background-color: blueviolet;
    color: white;
}


.login-view{
    color: white;
}

.signup-view{
    color: white;
}